html {
  font-family: Light;
  line-height: 1.5;
}

.page-container {
  width: 1680px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
